@charset "UTF-8";
body {
    font: normal 16px Arial, Verdana, serif;
    text-align: left;
    background-color: gainsboro;
}
h1 {
    text-align: center;
}

h2 {
    text-align: right;
}

p {
    text-align: justify;
    text-indent: 30px; /* Cria recuo do paragrafo */
}